@import '../../assets/scss/color.scss';
@import '../../assets/scss/font.scss';

hr {
    border-top: 1px solid yellow!important;
}

.card-top-players {
    font-family: 'lato-bold';

    .card {
        width: 100%!important;
        margin: 0px!important;
        background-color: rgba(188, 190, 192, 0.7)!important;
    }

    .card-body {
        margin: 0px!important;
        padding: 0px!important;
        width: 100%!important;
    }
   
    .title-top-player {
        a {
            font-size: 16px;
            color:#45595d!important;
        }
        margin-top: 5px;

        .rep-count {
            font-size: 16px;
            color: black;
        }
        .reported {
            color: black;
            margin-left: 3px;
            font-size: 10px;
        }

    }

    .text-top-player {
        p {
            font-size: 14px;
            color: black!important;
        }
    }
}