.form-login {
    margin-top: 10%!important;

	input {
		margin: 0px;
	}

	p {
		color: #FFA500!important;;
	}
	.div-visibility {
		background-color: orange;
		

		img {
			margin-top: 34%;
		}
	}
}



 
 .error-login-page {
	 width: 100%;
	 height: 25px;
 }
 