.report-type {
 
    p {
        font-size: 16px;
        margin: 0px;
        font-family: 'lato-regular';
    }

    .list-group-item {
        background-color: rgba(188, 190, 192, 0.4)!important;
        color: white;
    }
    
   
}