.pie-chart {
    margin-left: 40px;
    path{
        position: relative!important;
        margin-top: 10px!important;
    }
    text {
        font-size: 18px;
        fill: #d0a85c!important;
        font-family: 'lato-bold';
        
    }
}
